{% extends "base.html" %}

{% block content %}
     <div class="col-lg-8 px-md-5 py-5">
                    <div class="row pt-md-4">
    <h1>Сброс пароля</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Мы отправили вам электронное письмо. Пожалуйста, свяжитесь с нами, если вы не получили его в течение нескольких минут.</p>
                                            </div><!-- END-->
                    </div>
{% endblock content %}