{% extends "base.html" %}

{% load account %}

{% block content %}
                    <div class="col-lg-8 px-md-5 py-5">
                        <div class="row pt-md-4">
                            <h1>Сброс пароля</h1>
                            <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам письмо,
                                чтобы сбросить его.</p>
                            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Сбросить мой пароль"/>
                            </form>
                            <p>Если у вас возникли проблемы со сбросом пароля, просто свяжитесь с Pirat.</p>
                        </div><!-- END-->
                    </div>
{% endblock content %}