{% if user.is_authenticated %}
    <div class="col-xl-4 sidebar ftco-animate bg-light pt-5">
        <div class="sidebar-box pt-md-4">
            <form action="{% url 'search' %}" method="get" class="d-flex editContent">
                <input type="search" placeholder="Поиск..." name="q" class="form-control" required="">
                <button type="submit" class="btn1 btn">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
            </form>
        </div>
        <div class="sidebar-box ftco-animate">
            <a href="{% url 'groupmodel_create' %}"><h5 class="sidebar-heading">Добавить группу</h5></a>
        </div>
        {% for group in view.get_phone %}
            <div class="sidebar-box ftco-animate">
                <div class="poster">
                    <strong>{{ group.name }}</strong>
                    <div class="descr-group">
                        <a href="{% url 'groupmodel_delete' pk=group.id %}"><span>  <i
                                class="icon-delete mr-1"></i></span></a><a
                            href="{% url 'groupmodel_update' pk=group.id %}"><span><i
                            class="icon-edit mr-2"></i></span></a>
                    </div>
                </div>
                <ul class="categories">
                    {% for phone_number in group.phonemodel_set.all %}
               <div class="poster">
                        <li>{{ phone_number.name }}
                            <p>тел.: {{ phone_number.phone }}</p>
                            {% if phone_number.email != "" %}
                                <p>email: {{ phone_number.email }}</p>
                            {% endif %}
                        <div class="descr">
                            <a href="{% url 'phonemodel_update' pk=phone_number.id %}"><span>  <i
                                    class="icon-edit mr-1"></i></span></a><a
                                    href="{% url 'phonemodel_delete' pk=phone_number.id %}"><span
                                    style="margin-right: 15px"><i class="icon-delete mr-2"></i></span></a>
                        </div>
                        </li>
                        </div>
                    {% endfor %}
                    <li><a href="{% url 'phonemodel_create' %}">+</a></li>
                </ul>
            </div>
        {% endfor %}
    </div><!-- END COL -->
{% endif %}