{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="col-lg-8 px-md-5 py-5">
        <div class="row pt-md-4">
            <form method="POST">{% csrf_token %}
                <h1 class="mb-3"> Вы хотите удалить статью - "{{ object.title }}" ?</h1>
                <button type="submit" value="Удалить">Удалить</button>
                <a href="{% url 'postmodel_list' %}">
                    <button type="button" value="Не удалять">Не удалять</button>
                </a>
                <p class="mb-4">{{ object.description|safe }}</p>
            </form>

        </div><!-- END-->
    </div>

{% endblock content %}